---
layout: default
---

<div class="post-content">
<div>
  <a href="{{ site.baseurl }}/index.html">
    <span> << Back To Posts </span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="{{ site.baseurl }}/timeline.html"><span>  Timeline  </span></a>
  </a>
</div>

{% if page.next.url %}
<div>
  <a href="{{page.next.url | prepend: site.baseurl }}">
    <span>▲ Previous Post : {{page.next.title}}</span>
  </a>   
</div>
{% endif %}
<div>　　　　</div>
<span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A, %B %-d | Week %W & Day %j of Year %Y" }}</time></span>
<div style="font-weight:bold;color:#8a4405;">{{ page.title }}</div>
<div>　　　　</div>
{{ content }}
<div>　　　　</div>  
{% if page.previous.url %}
<div>
  <a href="{{page.previous.url | prepend: site.baseurl }}">
    <span>▼ Next Post : {{page.previous.title}}</span>
  </a>   
</div>
{% endif %}

</div>